body {
  margin: 5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* index.css */

button {
  background-color: #4CAF50; /* Grønn bakgrunn */
  color: white; /* Hvit tekst */
  border: none; /* Ingen kantlinje */
  padding: 10px 20px; /* Polstring rundt teksten */
  text-align: center; /* Sentrer teksten */
  text-decoration: none; /* Ingen understreking */
  display: inline-block; /* Inline blokk for å kunne bruke margin */
  font-size: 16px; /* Størrelse på teksten */
  margin: 4px 2px; /* Margin rundt knappen */
  cursor: pointer; /* Endre musepekeren til hånd */
  border-radius: 5px; /* Runde hjørner */
  transition: background-color 0.3s; /* Animasjon for bakgrunnsfarge */
}

button:hover {
  background-color: #45a049; /* Mørkere grønn ved hover */
}
